.airdrop-info{
    h1 {
        text-align: center;
    }

    ul {
        text-align: center;
        margin-top: 10px;
        li {
            border-right: 1px solid black;
            padding-left: 10px;
            display: inline;
            padding-right: 10px;
        }

        li:last-child { border-right: none; }
    }
}